<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learning Platform</title>
</head>
<body>

    {% if user.is_authenticated and user.is_staff %}

    <p> Hello {{user.username}}</p>

    <h3><a href = {% url "add_course" user.id %}>Add New Course</a></h3>
    <a href = {% url "list_courses" %}>Show Courses</a>
    
    <h3>
    <a href = {% url "favourite" %}>Favourite</a>
    <a href = {% url "logout" %}>Log Out</a>
    </h3>

    {% elif user.is_authenticated and not user.is_staff %}

    <p> Hello {{user.username}}</p>

    <a href = {% url "list_courses" %}>Show Courses</a>
    <a href = {% url "favourite" %}>Favourite</a>
    <a href = {% url "logout" %}>Log Out</a>

    {% else %}

    <p> You're not Logged in</p>
    <a href = {% url "login" %}>Login</a><br>
    <a href = {% url "user_register" %}>Register New User</a>
    <a href = {% url "mentor_register" %}>Register New Mentor</a>

    {% endif %}
</body>
</html>