<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{note.title}}</title>
</head>
<body>
    <ul>
        <li>{{note.title}}</li>
        <li>{{note.content}}</li>
        <li>{{note.date_created}}</li>
        <a href = "{% url "edit_note" note.title%}">Edit</a>
        <a href = "{% url "delete_note" note.title%}">Delete</a>
        <a href=" {% url "index" %}">Back</a>
    </ul>
</body>
</html>